<div class="col-10 offset-1 about"
  <h1>About Splurty</h1>

  <p>
    This quote generator application was built by <a target="_blank" href="https://samirndeeb.netlify.com/">Samir</a> with the help of this<a target="_blank" href="https://online.bootcampspot.com"> coding bootcamp</a>
  </p>

  <br />

  <p>
    He has just started learning how to code, with hopes of building a new career path in something he has always been incredibly interested in.
  </p>
  <p>
    If you would also like to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Samir.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Samir Deeb</h2>
      <br />
      <p>
        Samir Deeb is a Sales Engineer for a drill stem safety valve manufacturer in Houston, Texas. He has been working in the oil and gas industry for about 2 years now. He is currently learning how to code in order to help update the website for the company, as well as further his knowledge in something he enjoys.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>